#csi-footer{
background : #34DDDD
}

.csi-countdown-area3 #csi-countdown span, .footer-title {
    font-family: ariel;
    color: #fff;
}
.csi-banner-header .menu-onscroll {
    background: #34DDDD;
}