{% extends 'base.html' %}
{% block bodyclass %}
<body class="index">
  <div class="csi-container ">
{% endblock %}{% block bodycontent %}
      #TODO : Main page body
    {% if logged_out_user %}
    <section>
      <h1> You have successfully logged out, {{ logged_out_user }}!</h1>

    </section>
    {% endif %}
 <section>
      <div class="csi-slider">
        <div class="csi-banner-style">
          <div class="csi-inner">

            <div id="csi-main-slider" class="owl-carousel ">

              <!--SLIDER ITEM 1-->
              {% load static %}
              <div class="csi-item-common csi-item-left">

                <div class="col-sm-12g">
                  <div class="slider-text-single">
                    <figure>
                      <img src="{% static 'root/img/slider1.jpg' %}" alt="slider" />
                      <figcaption>
                        <div class="figcaption-inner">
                          <div class="csi-container csi-banner-content">
                            <div class="csi-hover-link">
                              <div class="csi-vertical">
                                <div class="csi-banner-content">
                                  <h3 class="csi-subtitle">Speeches</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <!--//.col-->
              </div>
              <!--SLIDER ITEM 1 End-->

              <!--SLIDER ITEM 2-->
              <div class="csi-item-common csi-item-center">
                <div class="col-sm-12g">
                  <div class="slider-text-single">
                    <figure>
                      <img src="{% static 'root/img/slider2.jpg' %}" alt="slider" />
                      <figcaption>
                        <div class="figcaption-inner">
                          <div class="csi-container csi-banner-content">
                            <div class="csi-hover-link">
                              <div class="csi-vertical">
                                <div class="csi-banner-content">
                                  <h2 class="csi-subtitle">Speeches</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <!--//.col-->
              </div>
              <!--SLIDER ITEM 2 End-->


            </div>
            <!--//.csi-main-slider-->
            <!-- //.CONTAINER -->
          </div>
          <!-- //.INNER -->
        </div>
      </div>
    </section>
    <!--SLIDER END-->

  </div>
  {% endblock %}