<footer>
    <div id="csi-footer" class="csi-footer">
        <div class="csi-inner-bg">
            <div class="csi-inner">
                <div class="csi-footer-middle">
                    <div class="container">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-footer-single-area">
                                <div class="csi-footer-single" style="text-align:center">
                                    <h3 class="footer-title" style="color:#708090;">Links</h3>
                                    <table align="center" style="border-collapse: separate; border-spacing: 8px 0;">
                                      <tr>
                                        <td><a href="/home"><p>Home</p></a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="/about"><p>About Us</p></a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="/upcomingmeetups"><p>Upcoming Meetups</p></a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="/pastmeetups"><p>Past Meetups</p></a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="/sponsors"><p>Sponsors</p></a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="/contact"><p>Contact Us</p></a></td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                          </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                              <div class="csi-footer-single-area">
                                  <div class="csi-footer-single" style="text-align:center">
                                      <h3 class="footer-title" style="color:#708090;">Contact Info</h3>
                                      <table align="center" style="border-collapse: separate; border-spacing: 3px 0;">
                                        <tr>
                                        </tr>
                                        <tr>
                                          <td><a href="mailto:contact@techtalks.co.in"><p>contact@techtalks.co.in</p></a></td>
                                        </tr>
                                        <tr>
                                          <td><a href="mailto:contact@hostingjunction.in"><p>contact@hostingjunction.in</p></a></td>
                                        </tr>
                                      </table>
                                  </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="csi-footer-single-area">
                                    <div class="csi-footer-single">
                                        <h3 class="footer-title" style="color:#708090; text-align: center;">Follow us on</h3>
                                        <ul class="list-inline csi-social" style="text-align: center;">
                                            <li><a href="https://www.facebook.com/GlobalTechTalks/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="https://twitter.com/globaltechtalks" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="https://t.me/globaltechtalks" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                                            <li><a href="https://medium.com/@globaltechtalks" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
                                            <li><a href="https://globaltechtalks.slack.com/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                                            <li><a href="https://github.com/GlobalTechTalks" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                            <li><a href="https://www.youtube.com/channel/UCcxKkGgO0eNe-pDTQE3jYvQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="csi-subscriber">
                                    <h3 class="footer-title" style="color: #708090; text-align: center">Subscribe & Stay Updated</h3>
                                    <form class="subscribe-form csi-subscribe-form" style="text-align: center;" action="/subscribe/" method="post" >
                                        <div class="form-group form-group-email" >
                                            <input type="email" id="subscribe" placeholder="Enter you e-mail address" class="form-control csi-input-form form-control"  />
                                        </div>
                                        <div class="form-group form-group-submit">
                                            <button type="submit" name="csi-submit" id="csi-submit" class="csi-btn csi-submit"><span>Subscribe</span></button>
                                        </div>
                                    </form>
                                </div> <!--//.SUBSCRIBE-->
                            </div>
                            <div class="csi-copyright">
                                <p class="text" style="color: #708090">© 2018 TechTalks</p>
                            </div>
                        </div>
                    </div>
                    <!-- //.CONTAINER -->
                </div>
            </div>
        </div>
        <!-- //.footer Middle -->
    </div>

</footer>
<!-- FOOTER-END-->
