
<header>
    <div id="csi-header" class="csi-header csi-banner-header">
        <div class="csi-header-bottom menu-onscroll" style="z-index:100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                      <nav class="navbar navbar-default csi-navbar">
                            <div class="csicontainer">
                             <div class="navbar-header">
                                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                                        <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        </button>
                                    <div class="navbar-brand">
                                        <a href="/">
                                          <h2  style="color: white; font-family: 'Megrim', cursive; font-weight:bold;">Evaluate My Speech</h2>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse navbar-collapse" id="main-navbar" style="margin:10px">
                                    <ul class="nav navbar-nav csi-nav" >
                                      <li><a href="/">Home</a></li>
                                           <li><a href="/recommended">Recommended For You</a></li>
                                      <li><a href="/posts/latest">Latest Posts</a></li>
                                        <li><a href="/events">Upcoming Events</a></li>
                                        <li><a href="/accounts/near_me">Speakers Around You</a></li>



                                          {% if user.get_username.strip %}
                                        <li class="dropdown">
                                           <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}<span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                              <li><a href="/accounts/my_account">My Account</a></li>
                                              <li><a href="/accounts/edit_details">Edit Profile</a></li>
                                              <li><a href="/accounts/logout">Logout</a></li>
                                          </ul>
                                        </li>
                                          {% else %}
                                            <li><a href="/accounts/login">Login</a></li>

                                             {% endif %}

                                    </ul>
                                <!--/.nav-collapse -->
                                     </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER-->
    </div>
</header>